h1{
  position: relative;
  margin-left: 65px;
}

.board{
  margin-left: calc(50% - 155px);
}

ul{
  width: 310px;
  height: 310px;
  padding-left: 0px;
  background-color: black;
}

.btn{
  width: 100px;
  height: 100px;
  border-radius: 0px;
  margin-right: 0.4px;
  margin-bottom: 5px;
}

.btn:disabled{
  opacity: 1;
}

#status{
  position: relative;
  margin-left: 104px;
}
